
@media screen and (max-width: 1500px) {
.allPages, .demoPage__top{
   width: 1200px;
}
.examplePage{
	height: 900px;
	padding-top: 50px;
}
.examplePage__text{
	margin-left: 213px;
	margin-top: 30px;
}
.footer{
	height: 800px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}	
.footer__text_left{
	width: 410px;
	height: 250px;
	padding: 69px 0 0 0;
}
.footer__text_right{
	width: 210px;
	height: 250px;
	padding: 69px 15px 0 5px;
}
.footer__menu{
	width: 100px;
	height: 250px;
	margin-right: 10px;
}
.footer__shape{
	margin: 0 400px;
}
.demoPage{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between;
}
.demoPage__article{
	width: 600px;
	float: none;
	margin: 40px 0 0 0;
	padding:0;
}
.demoPage__button {
	margin: 0 auto;
}
.demoPage__button_wrapper{
	margin-bottom: 20px;
}
@media screen and (max-width: 1227px) {
.allPages{
   width: auto;
}
.downloadableContent__iPadImg{
	left: 920px;
}

@media screen and (max-width: 1070px) {
.examplePage{
	height: 1250px;	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between;
	padding-top: 10px;
}
.examplePage__text{
	margin: 0 0 30px 0;
	padding-left: 80px;
}
.examplePage__rectangle_left{
	margin: 0;
}
.examplePage__rectangle{
	margin: 20px auto 0 auto;
	float: none;
}
.examplePage__rectangle_leftWrapper, .examplePage__rectangle_rightWrapper{
	width: 600px;
}
.examplePage__arrow{
	display: none;
}
.downloadableContent__iPadImg{
	display: none;
}
.downloadableContent{
	background-image: url(../images/downlaodablePage-background2.png);	
	padding-left: 0;
}	
.downloadableContent__text_top, .downloadableContent__text_bottom, div.downloadableContent h2{
	width: 700px;
	margin: 30px auto;
}
.downloadableContent__button{
	margin: 0 auto;
	display: block;
}

@media screen and (max-width: 768px) {
.footer{
	height: 800px;
	align-content: space-between;
}	
.footer__text_left, .footer__text_right{
	float: none;
	width: 400px;
	padding: 10px 20px;
}
.footer__text_left{
	height: 170px;
}
.footer__text_right{
	height: 120px;
}	
.footer__menu{
	width: 400px;
	height: 250px;
	float: none;
	margin: 0; 
	padding: 10px 20px;
}	
.footer__ref{
	width: 350px;
	margin: 0 0 50px 0;
}
.footer__shape_wrapper{
	width: 450px;
	height: 62px;
}
.footer__shape{
	margin: 0 auto;
}
