@import url(../common/reset.css);
@import url(../common/fonts.css);
@import url(../common/common.css);
@import url(../common/mediaQueries.css);

.examplePage{
	height: 747px;
	background-color: #F6F6F4;
	padding-top: 100px;
	position: relative;
}
.examplePage__square{
	width: 338px;
	height: 346px;
	float: left;
	margin-bottom: 30px;
}
.examplePage__rectangle{
	width: 340px;
	height: 485px;
	background-color: #FFFFFF;
	float: left;
}
.examplePage__text{
	float: left;
	color: #ABBCC3;
	width: 460px;
	margin-left: 40px;
}
.examplePage__rectangle_left{
	margin-left: 213px;
	margin-right: 20px;
}
div.examplePage__rectangle_left div.examplePage__square{
	background-color: #E8B968
}
div.examplePage__rectangle_right div.examplePage__square{
	background-color: #F69679;
}
div.examplePage__text h2{
	font-size: 45px;
	font-family: "LatoLight", sans-serif;
	margin-bottom: 12px;
	margin-top: -6px;
	line-height: 118%;
	letter-spacing: -0.7px;
}

div.examplePage__rectangle p, div.examplePage__rectangle h3{
	margin-left: 39px;
	margin-bottom: 8px;
}
div.examplePage__rectangle p{
	color: #7a8387;
	font-family: "LatoItalic", sans-serif;
}
.examplePage__arrow{
	width: 10px;
	height: 10px;
	border-top: 3px solid #a8a8a8;
	border-left: 3px solid #a8a8a8;
	position: absolute;
	cursor: pointer;
}
.examplePage__arrow:hover{
	border-top: 3px solid #555555;
	border-left: 3px solid #555555;
}
.examplePage__arrowLeft{
	bottom: 156px;
	right: 230px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}
.examplePage__arrowRight{
	bottom: 156px;
	right: 215px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
}
